/* ==========================================================================
   Global Styles
   ========================================================================== */

:root {
    --primary-color: #000;
    --secondary-color: #333;
    --light-background: #f0f0f0;
    --white: #fff;
    --text-color: #333;
    --link-color: #333;
    --link-hover-color: #007bff;
    --border-color: #eee;
    --section-padding-y: 60px;
    --section-padding-x: 0;
    --container-width: 90%;
    --max-container-width: 1200px;
    --grid-gap: 20px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--white);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: var(--container-width);
    max-width: var(--max-container-width);
    margin: 0 auto;
    padding: 0 15px;
}

/* ==========================================================================
    Header Styles
    ========================================================================== */
header {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
    color: var(--white);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .logo img {
    height: 100px;
}

/* ==========================================================================
   Navigation Styles
   ========================================================================== */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--link-hover-color);
}

/* ==========================================================================
   Hero Section Styles
   ========================================================================== */

.hero-section {
    padding: var(--section-padding-y) var(--section-padding-x);
    background-color: var(--light-background);
    text-align: left;
}

.hero-section h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    transform: skew(-5deg);
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* ==========================================================================
    Button Styles
    ========================================================================== */
.button {
    display: inline-block;
    padding: 12px 70px 12px 60px;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
}

.button:hover {
    background-color: #333946;
}

.button::after {
    content: "→";
    color: var(--white);
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1.2em;
}

/* ==========================================================================
   Section Spacing Styles
   ========================================================================== */
.section-spacing {
    padding: 2cm 0;
}

/* ==========================================================================
    Section Title Styles
    ========================================================================== */
.section-title {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 10px;
    transform: skew(-5deg);
    color: var(--secondary-color);
}

.message-on-image {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
    transform: skew(-5deg);
    color: var(--white);
}

.mission-section .section-title,
.growth-section .section-title,
.kpi_detail .detail-section-title h2,
.session_detail .detail-section-title h2,
.cvr_detail .detail-section-title h2 {
    color: var(--white);
}

/* ==========================================================================
    Section Subtitle Styles
    ========================================================================== */
.section-subtitle {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 20px;
    color: var(--secondary-color);
    margin-top: 10px;
}

.mission-section .section-subtitle,
.growth-section .section-subtitle,
.kpi_detail .detail-section-title .section-subtitle,
.session_detail .detail-section-title .section-subtitle,
.cvr_detail .detail-section-title .section-subtitle {
    color: var(--white);
}

/* ==========================================================================
   Mission Section Styles
   ========================================================================== */
.mission-section {
    background-color: var(--primary-color);
    color: var(--white);
    padding: var(--section-padding-y) var(--section-padding-x);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mission-section .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.mission-section .mission-text {
    width: 50%;
    padding-right: 20px;
}

.mission-section .mission-bottom {
    width: 50%;
    background-image: url('images/mission_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mission-section .mission-bottom p {
    text-align: center;
}

.mission-section h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: left;
    transform: skew(-5deg);
}

.mission-text p {
    font-size: 1rem;
    line-height: 1.8;
    text-align: left;
    margin-bottom: 20px;
}

/* ==========================================================================
   Service Section Styles
   ========================================================================== */

.service-section {
    background-color: var(--white);
    color: var(--secondary-color);
    padding: var(--section-padding-y) var(--section-padding-x);
    position: relative;
}

.service-section h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: left;
    transform: skew(-5deg);
}

.service-section .service-grid {
    position: relative;
    z-index: 1;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
}

.service-item {
    background: var(--white);
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: var(--secondary-color);
    position: relative;
    z-index: 1;
}

.service-item h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.service-item p.subtitle {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #777;
}

.service-item hr {
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: 10px 0;
}

.service-item p.description {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-top: 10px;
}

/* ==========================================================================
  Growth Section Styles
  ========================================================================== */
.growth-section {
    color: var(--white);
    background-color: var(--primary-color);
}

.growth-section .container {
    background-origin: content-box;
    background-image: url('images/growth_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.growth-section .growth-text {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.growth-section .growth-text h2 {
    transform: skew(-5deg);
}


/* ==========================================================================
   Strengths Section Styles
   ========================================================================== */

.strengths-section {
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: var(--white);
}

.strengths-section .strength-text {
    text-align: left;
}

.strengths-section .strength-text h2 {
    font-size: 3rem;
    transform: skew(-5deg);
    color: var(--secondary-color);
}

.strength-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
}

.strength-item {
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.strength-item h3 {
    margin-bottom: 10px;
}

.strength-item p {
    line-height: 1.6;
}

.strength-item img {
    height: 80px;
    margin-bottom: 10px;
    margin: auto;
}

/* ==========================================================================
    Detail Section Styles
    ========================================================================== */

.detail-section-title {
    text-align: left;
    margin-bottom: 20px;
}

.detail-section-title h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    transform: skew(-5deg);
    color: var(--secondary-color);
}

.kpi_detail .detail-section-title h2,
.session_detail .detail-section-title h2,
.cvr_detail .detail-section-title h2 {
    color: var(--white);
}

.kpi_detail .detail-section-title .section-subtitle,
.session_detail .detail-section-title .section-subtitle,
.cvr_detail .detail-section-title .section-subtitle {
    color: var(--white);
}

.kpi_detail .detail-img,
.session_detail .detail-img,
.cvr_detail .detail-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.kpi_detail {
    background-color: var(--primary-color);
    color: var(--white);
}

.kpi_detail p,
.session_detail p,
.cvr_detail p {
    color: var(--white);
    text-align: left;
}

.session_detail {
    background-color: var(--primary-color);
    color: var(--white);
}

.cvr_detail {
    background-color: var(--primary-color);
    color: var(--white);
}

.kpi_detail .detail-img {
    justify-content: flex-end;
}

.session_detail .detail-img {
    justify-content: flex-start;
}

.cvr_detail .detail-img {
    justify-content: flex-end;
}


.kpi_detail .detail-img img,
.session_detail .detail-img img,
.cvr_detail .detail-img img {
    height: 200px;
}

.mission_container,
.cvr_container,
.kpi_container,
.session_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.session_container .detail-text,
.kpi_container .detail-text,
.cvr_container .detail-text {
    width: 65%;
}

.session_container {
    flex-direction: row-reverse;
}

/* ==========================================================================
    Client Result Section Styles
    ========================================================================== */

.clientresult-section {
    background-size: cover;
    background-position: center;
    color: var(--secondary-color);
    text-align: left;
    background-color: var(--white);
}

.clientresult-section .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.clientresult-section h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    transform: skew(-5deg);
    text-align: left;
    color: var(--secondary-color);
}

.clientresult-section .section-subtitle {
    text-align: left;
    color: var(--secondary-color);
}

.client-result-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
    text-align: left;
}

.result-item {
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.result-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
}

.result-title {
    margin-bottom: 10px;
    text-align: left;
}

.result-item p {
    line-height: 1.6;
}

/* ==========================================================================
    Contact Section Styles
    ========================================================================== */
.contact-section {
    text-align: center;
    background-color: var(--light-background);
}

.contact-section h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    transform: skew(-5deg);
    color: var(--secondary-color);
}

.contact-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

/* ==========================================================================
    Footer Styles
    ========================================================================== */

footer {
    background-color: var(--secondary-color);
    color: var(--white);
    text-align: center;
    padding: 20px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-logo img {
    height: 80px;
}

footer p {
    margin: 0;
}

/* ==========================================================================
    Menu Toggle Styles
    ========================================================================== */

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: var(--white);
}

/* ==========================================================================
    Responsive Styles
    ========================================================================== */
@media (max-width: 1024px) {

    /* Styles for Tablet Size*/
    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .strength-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .mission-section {
        flex-direction: column;
    }

    .mission-section img {
        margin-left: 0;
        margin-top: 20px;
        max-width: 100%;
    }
}

@media (max-width: 768px) {

    /* Styles for Mobile Size*/
    .container {
        width: 100%;
    }

    .button {
        width: 100%;
    }

    header .container {
        align-items: center;
    }

    header .menu-toggle {
        display: block;
    }

    nav ul {
        margin-top: 0px;
        flex-direction: column;
        text-align: center;
    }

    header .nav-menu {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background: var(--primary-color);
        display: none;
        color: var(--white);
        z-index: 100;
    }

    header .nav-menu.active {
        display: block;
    }

    nav ul li {
        margin: 5px 0;
        border-bottom: 1px solid var(--border-color);
    }

    .service-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .strengths-section .strength-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .client-result-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-buttons {
        flex-direction: column;
    }

    .contact-buttons a {
        width: 80%;
    }

    footer .container {
        flex-direction: column;
    }

    .mission-section .mission-text,
    .mission-section .mission-bottom {
        width: 100%;
        padding-right: 0;
        /*Remove right padding */
    }

    .mission-section .mission-bottom {
        margin-top: 20px;
        height: 300px;
        padding: 0px;
    }


    .kpi_detail .detail-img,
    .session_detail .detail-img,
    .cvr_detail .detail-img {
        justify-content: center !important;
        align-items: flex-start !important;
        margin-top: 60px !important;
    }

    .kpi_detail .detail-img img,
    .session_detail .detail-img img,
    .cvr_detail .detail-img img {
        height: 200px;
        max-width: 100%;
        /* Ensure images scale down */
    }

    .mission_container,
    .cvr_container,
    .kpi_container,
    .session_container {
        flex-direction: column;
    }

    .session_container .detail-text,
    .kpi_container .detail-text,
    .cvr_container .detail-text {
        width: 100%;
    }

    .section-spacing {
        padding: 1cm 0;
    }

    .message-on-image {
        font-size: 2rem;
    }

}